.sign__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.sign__container .sign__image {
    display: flex;
    width: 100%;
    height: 100vh;
    flex: 0 1 40%;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}


.sign__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    user-select: none;
}

.sign__container .sign__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    gap: 5rem;
    flex: 1 1 50%;
    height: 100vh;
    flex-wrap: wrap;
    position: relative;
}

.sign__content .sign__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 50%;
    gap: 1.5rem;
}

.sign__main .sign__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sign__header .header__title {
    width: 565px;
}

.sign__header .header__title h1 {
    font-size: 2.5rem;
}

.sign__header .sign__header-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.sign__header .sign__header-btn i {
    font-size: 2rem;
}

.sign__header .sign__header-btn a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .4em 1em;
    border-radius: 5px;
    border: 1px solid #CCC;
    text-align: center;
    font-family: var(--regula);
    font-size: clamp(1.2rem, 2.5vh, 1.3rem);
    white-space: nowrap;
    cursor: pointer;
}

.divider-lines {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: baseline;
    gap: 5px;
}

.divider-lines .line {
    width: 100%;
    height: 1px;
    background-color: #333;
}

.sign__text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign__payload {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.sign__payload input,
select {
    width: 305px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #AAA;
}

.side__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    position: relative;
}

.side__text::after {
    content: '';
    left: 92.6%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    border: 2px solid #AAA;
    height: 100%;
}

.side__content {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: flex-end;
    align-items: baseline;
    white-space: nowrap;
    font-family: var(--regular);
}

.side__content:nth-child(3n + 1),
.finalizacao .text {
    color: #AAA;
    user-select: none;
}

.side__content:nth-child(3n + 1) .circle,
.finalizacao>div {
    color: #AAA;
    border: 2px solid #AAA;
}

.side__content p {
    font-size: .8rem;
}

.circle {
    font-size: 12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid var(--cor-preto);
    color: var(--cor-preto);
    background-color: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
}

.circle::before {
    content: attr(data-step);
}

.circle .fill {
    background-color: var(--cor-preto);
    color: var(--cor-branca);
}


.sign__payload form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;
}

.sign__payload form h2 {
    font-family: var(--regular);
}

.sign__payload form .numero,
.sign__payload form .date,
.sign__payload form .cep,
.sign__payload form .complemento {
    width: 280px;
}

.form-bottom {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-bottom button {
    padding: 15px 60px;
    background: #333;
    color: #fff;
    font-family: var(--regular);
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.form-bottom p {
    font-family: var(--regular);
    color: #AAA;
}

.error-message {
    text-align: center;
    color: rgb(250, 49, 55);
}

.loading {
    animation: loading 800ms infinite;
}

@keyframes loading {

    from {
        background: #AAA; 
    }

    to {
        background: #CCC;
    }
}

@media screen and (max-width: 1547px) {
    .sign__text .sign__passos {
        display: none;
    }
}


@media screen and (max-width: 1180px) {

    .divider-lines {
        display: none;
    }

    .sign__container .sign__image {
        position: fixed;
    }

    .sign__container {
        height: auto;
    }

    .sign__header .header__title {
        width: 100%;
        text-align: center;
    }

    .sign__container .sign__content {
        background: #fff;
        opacity: 80%;
    }

    .sign__container .sign__image {
        flex: 1 1 100%;
    }

    .sign__text .sign__passos {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .sign__container .sign__image {
        object-fit: cover;
    }

    .sign__content .sign__main {
        gap: 1.5rem;
        height: 100%;
    }

    .sign__payload form {
        gap: 1rem;
        text-align: center;
    }

    .sign__payload form>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .sign__payload form .numero,
    .sign__payload form .date,
    .sign__payload form .cep,
    .sign__payload form .complemento {
        width: 305px;
        padding: 15px 10px;
    }
}