<section class="header__main">
    <div class="header__left">
        <div class="header__left-image">
            <img src="./foto.jpg">
            <div class="header__name">
                <h2>Felipe Cipriano</h2>
                <p>Login:cipriano_andrade</p>
            </div>
        </div>
        <div class="header__line"></div>
        <div class="header__left-content">
            <div class="header__left-row">
                <div class="header__left-context">
                    <i class="fa-regular fa-envelope"></i>
                    <p>E-MAIL:</p>
                </div>
                <div class="header__left-value">
                    <p>flipe.ciprianoandrade2023@gmail.com</p>
                </div>
            </div>
            <div class="header__left-row">
                <div class="header__left-context">
                    <i class="fa-solid fa-phone"></i>
                    <p>TELEFONE:</p>
                </div>
                <div class="header__left-value">
                    <p>11 23456789</p>
                </div>
            </div>
            <div class="header__left-row">
                <div class="header__left-context">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>CEP:</p>
                </div>
                <div class="header__left-value">
                    <p>123456-78</p>
                </div>
            </div>
        </div>
    </div>
    <div class="header__right">
        <p><span>USUÁRIOS</span> | VIEW</p>
    </div>
</section>


@code {

}
