<section class="header__main">
    <div class="header__left">
        <i class="fa-solid fa-circle-user"></i>
        <h2>SELECIONE UM USUÁRIO</h2>
    </div>
    <div class="header__right">
        <p><span>USUÁRIOS</span> | VIEW</p>
    </div>
</section>




@code {

}
