<section class="header__credentials">
    <div class="header__content">
        <div class="header__context">
            <p><span>USER</span> | VIEW</p>
        </div>
        <div class="header__image">
            <img src="./foto.jpg">
        </div>
    </div>
</section>


@code {

}
