.services[b-ar04ydjyh7] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #333 0%, #16141a 130%);
    height: 750px;
    width: 100%;
    align-items: center;
    padding-top: 50px;
}

.services-content[b-ar04ydjyh7] {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: var(--cor-branca);
}

.services-title[b-ar04ydjyh7] {
    display: flex;
    color: var(--cor-branca);
    width: 100%;
    max-width: 1920px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}


.title-se[b-ar04ydjyh7] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.title-se-content[b-ar04ydjyh7] {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.titulo-service[b-ar04ydjyh7] {
    margin-bottom: 1rem;
}

    .subtitulo-service[b-ar04ydjyh7] {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-height: 100%;
        height: 75px;
        gap: 50px;
    }

    .subtitulo-service p[b-ar04ydjyh7] {
        width: 100%;
        max-width: 600px;
    }

.side-services[b-ar04ydjyh7] {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.services-line[b-ar04ydjyh7] {
    display: flex;
    width: 1px;
    height: 100%;
    background-color: var(--cor-preto2);
}


.rectangles-services[b-ar04ydjyh7] {
    margin: 50px;
    align-self: center;
    display: flex;
    grid-gap: 1rem;
    max-width: 1920px;
    width: 100%;
    overflow-x: scroll;
    cursor: grab;
    scroll-behavior: smooth;
    height: 300px;

}

    .rectangles-services .service[b-ar04ydjyh7] {
        margin-left: 2rem;
    
    }

    .rectangles-services[b-ar04ydjyh7]::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }


.service[b-ar04ydjyh7] {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    user-select: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 600px;
    margin-right: 100px;
}

.service-content[b-ar04ydjyh7] {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 600px;
}

.service a[b-ar04ydjyh7] {
    color: var(--cor-branca);
    text-decoration: none;
}

.services h3[b-ar04ydjyh7] {
    font-size: var(--second-title);
    font-weight: var(--regular);
}

.services-title h2[b-ar04ydjyh7] {
    font-size: var(--title);
    font-weight: var(--regular);
}

.service .rectangle-service-icon[b-ar04ydjyh7] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-preto2);
    color: var(--cor-branca);
    border-radius: 5px;
    font-size: var(--title);
}

    .service .rectangle-service-icon i[b-ar04ydjyh7] {
        display: flex;
        padding: 100px;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-out;
    }

        .service .rectangle-service-icon i:hover[b-ar04ydjyh7] {
            transform: scale(1.2);
        }


.service .text-service[b-ar04ydjyh7] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

    .service .text-service .btn-services[b-ar04ydjyh7] {
        display: flex;
        flex-direction: row;
        gap: 15px;
        color: var(--cor-branca);
        text-decoration: none;
        align-items: center;
    }

        .service .text-service .btn-services i[b-ar04ydjyh7] {
            display: flex;
            border-radius: 50%;
            width: 65px;
            height: 65px;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--cor-branca);
            transition: all 0.5s ease-in-out;
        }


        .service .text-service .btn-services:hover[b-ar04ydjyh7] {
            color: var(--cor-cinza);
        }

            .service .text-service .btn-services:hover i[b-ar04ydjyh7] {
                background-color: var(--cor-branca);
                color: var(--cor-preto);
            }

@media screen and (max-width: 1280px ) {
    .services-title[b-ar04ydjyh7] {
        margin: 0px 10px;
        max-width: 100%;
    }

    .services-line[b-ar04ydjyh7] {
        display: none;
    }

    .title-se[b-ar04ydjyh7] {
        margin: 0px 10px;
    }

    .side-services p[b-ar04ydjyh7] {
        display: none;
    }

    .subtitulo-service[b-ar04ydjyh7] {
        height: 100%;
    }
}
