<section class="formulario">
    <div class="lines">
        <div class="line-per-line">
            <div class="gradient-vertical-line"></div>
            <div class="gradient-vertical-line"></div>
            <div class="gradient-vertical-line"></div>
        </div>
    </div>
    <div class="content">
        <div class="forms">
            <h3>
                Junte-se aos mais de 10000+ <br>
                clientes satisfeitos
            </h3>
            <div>
                <form>
                    <input type="text" class="nome" placeholder="Qual o seu nome?">
                    <input type="text" class="telefone" placeholder="Telefone - Ex: (11) 99999-9999">
                    <input type="email" class="email-pessoal" placeholder="Qual o seu email?">
                    <input type="email" class="email-corporativo" placeholder="E-mail Corporativo">
                    <input type="text" class="segmento" placeholder="Qual é o segmento?">
                    <input type="text" class="funcionarios" placeholder="Quantos funcionários?">

                </form>
            </div>
            <textarea placeholder="Qual o seu maior obstáculo?"></textarea>
            <button type="submit" class="decolar-empresa">DECOLAR MINHA EMPRESA</button>
        </div>
    </div>
</section>