<section class="solution">
    <div class="content">
        <div class="text-area">
            <div class="title-solution">
                <h2>A melhor solução financeira para você</h2>
                <p>Encontre a solução financeira ideal. Descubra como podemos ajudar você a atingir suas metas.</p>
            </div>
            <a class="btn-solution">Ver Mais <i class="bi bi-arrow-up-right"></i></a>
        </div>

        <div class="image-area">
            <div class="first-img">
                <div class="text-img">
                    <div>
                        <h2>85K+</h2>
                        <p>Conselhos de negócios exclusivos e novos para nossos clientes</p>
                    </div>
                    <a class="btn-solution">Ver Mais<i class="bi bi-arrow-up-right"></i></a>

                </div>
            </div>

            <div class="second-img">
                <div class="text-img">
                    <div class="title-img">
                        <h2>A melhor maneira de potencializar o seu sucesso.</h2>
                        <a class="btn-solution">Ver Mais<i class="bi bi-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>