@page "/company"
@page "/user/company"
@layout SignLayout
@inject NavigationManager NavigationManager

<PageTitle>Company</PageTitle>

<section class="sign__container">
    <div class="sign__image">
        <img src="./company.png">
    </div>
    <div class="sign__content">
        <div class="sign__main">
            <div class="sign__header">
                <div class="header__title">
                    <h1 class="title">Criar Conta</h1>
                </div>
                <div class="sign__header-btn">
                    <a><i class="fa-brands fa-google"></i>Entrar com o google</a>
                    <a><i class="fa-brands fa-github"></i>Entrar com o GitHub</a>
                </div>
                <div class="divider-lines">
                    <div class="line"></div><p>ou</p><div class="line"></div>
                </div>
            </div>
            <div class="sign__text">
                <div class="sign__payload">
                    <div class="sign__passos">
                        <div class="side__text">
                            <div class="side__content">
                                <p class="text">Dados Empresariais</p>
                                <div class="circle" data-step="1"></div>
                            </div>
                            <div class="side__content">
                                <p class="text">Dados Pessoais</p>
                                <div class="circle" data-step="2"></div>
                            </div>
                            <div class="side__content">
                                <p class="text">Método de Pagamento</p>
                                <div class="circle" data-step="3"></div>
                            </div>
                            <div class="side__content">
                                <p class="text">Finalização</p>
                                <div class="circle" data-step="4"></div>
                            </div>
                        </div>
                    </div>
                    <form @onsubmit="OnSubmitForm">
                        <h2>Dados Empresariais</h2>
                        <div>
                            <input type="text" placeholder="CNPJ" class="cnpj" required>
                            <input type="text" placeholder="Nome" class="nome" required>
                        </div>
                        <div>
                            <input type="text" placeholder="Slogan" class="slogan" required>
                            <input type="text" placeholder="Segmento" class="segmento" required>
                        </div>
                        <div>
                            <input type="text" placeholder="CEP" class="cep" required>
                            <input type="text" placeholder="Renda Média" class="renda" required>
                        </div>
                        <div>
                            <input type="text" placeholder="Balanço Atual" class="balanco" required>
                            <input type="text" placeholder="Média das Despesas" class="despesas" required>
                        </div>
                        <div>
                            <input type="text" placeholder="Razão Social" class="razao" required>
                            <input type="image" placeholder="Imagem" class="image" required>
                        </div>
                        <div class="form-bottom">
                            <button type="submit">CADASTRAR EMPRESA</button>
                            <p>Já Possui uma conta? <a href="/user/login">Faça Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private async Task OnSubmitForm() => NavigationManager.NavigateTo("/user/sign");
}
