<section class="prices" id="prices">
	<div class="prices-content">
		<div class="prices-title">
			<h2>Nossos Planos</h2>
			<p class="subtitle2">Adquira o que atenda as suas necessidades. </p>
		</div>
		<div class="card-prices">
			<div class="card-price">
				<div class="card-content">
					<h4>FinSize Lite</h4>
					<div class="price-real">
						<h3>R$19,99</h3>
						<p class="subtitle2">/mês</p>
					</div>
					<p class="subtitle2">Início perfeito </p>
					<div class="checks-prices">
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>10GB de armazenamento</p>
						</div>
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Suporte 24/7</p>
						</div>
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Atualizações regulares</p>
						</div>
					</div>
					<a class="btn-price">Comece Agora</a>
				</div>
			</div>
			<div class="card-price card-price-black">
				<div class="card-content">
					<h4>Unify Standard</h4>
					<div class="price-real">
						<h3>R$39,99</h3>
						<p class="subtitle">/mês</p>
					</div>
					<p class="subtitle">Nosso mais popular</p>
					<div class="checks-prices">
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>50GB de armazenamento</p>
						</div>
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Suporte prioritário</p>
						</div>
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Acesso a plugins premium</p>
						</div>
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Recursos exclusivos</p>
						</div>
					</div>
					<a class="btn-price btn-price-black">Comece Agora</a>
				</div>
			</div>
			<div class="card-price">
				<div class="card-content">
					<h4>FinSpectrum Pro</h4>
					<div class="price-real">
						<h3>R$79,99</h3>
						<p class="subtitle2">/mês</p>
					</div>
					<p class="subtitle2">Para demandas avançadas</p>
					<div class="checks-prices">
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Armazenamento ilimitado</p>
						</div>
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Suporte dedicado 24/7</p>
						</div>
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Recursos de segurança avançados</p>
						</div>
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Personalização avançada</p>
						</div>
						<div class="check-price">
							<i class="bi bi-check"></i>
							<p>Análises em tempo real </p>
						</div>
					</div>
					<a class="btn-price">Comece Agora</a>
				</div>
			</div>
		</div>
	</div>
</section>