<footer id="footer">
    <div class="content">
        <div class="copyright">
            <div>
                <img src="./logo-white.svg">
                 <p>Copyright © 2023  Triseat ltd.<br>Todos Direitos Reservados</p>
            </div>
            <div class="socials">
                <a href="#" class="logo"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="logo"><i class="fa-brands fa-dribbble"></i></a>
                <a href="#" class="logo"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="logo"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="company">
            <h4>Company</h4>
            <ul>
                <li><a href="#about">About us</a></li>
                <li><a href="#about">Contact us</a></li>
                <li><a href="#about">Pricing</a></li>
                <li><a href="#about">Testimonials</a></li>
            </ul>
        </div>
        <div class="support">
            <h4>Support</h4>
            <ul>
                <li><a href="#about">Help center</a></li>
                <li><a href="#about">Terms of service</a></li>
                <li><a href="#about">Legal</a></li>
                <li><a href="#about">Privacy policy</a></li>
            </ul>
        </div>
        <div class="news">
            <h4>Stay up to date</h4>
            <form>
                <div class="formulario-footer">
                    <input type="email" placeholder="E-mail"> <button type="submit" href="#home"><i class="fa-regular fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="__/Footer.razor.css">

@code {

}
