<nav>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="./logo-main.svg" alt="Logo da empresa">
            </div>
            <div class="links">
                <a href="#">Sobre nós</a>
                <a href="#">Como funciona</a>
                <a href="#">Planos</a>
                <div class="linha-vertical"></div>
                <NavLink href="user/company" style="text-decoration: none;">
                    <a>Cadastre-se</a>
                </NavLink>
                <NavLink href="login" style="text-decoration: none;">
                    <a class="btn-nav">Login</a>
                </NavLink>
            </div>
            <div class="menu">
                <div class="menu-line"></div>
                <div class="menu-line"></div>
                <div class="menu-line"></div>
            </div>
        </div>
    </header>
</nav>