.modal__main-actived[b-s2uuok2fpe] {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background: #000;
    z-index: 999;
    border-radius: 50px 0px 0px 50px;
    background: left / cover no-repeat url(./modal.svg), var(--clr-main-modal);
    transition: 1s ease-in-out;
}

.modal__main[b-s2uuok2fpe] {
    display: none;
}

.modal__expand[b-s2uuok2fpe] {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
    border-radius: 50px 0px 0px 50px;
    background: center / cover no-repeat url(./modal.svg), var(--clr-main-modal);
    transition: 1s ease-in-out;
}


.modal__changed[b-s2uuok2fpe] {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: #000;
    z-index: 999;
    border-radius: 0px 50px 50px 0px;
    background: left / cover no-repeat url(./modaln.svg), var(--clr-main-modal);
    transition: transform 0.5s ease-in-out;
}


.modal__expand .modal__body .modal__body-content .modal__body__main .modal__body__main-input input[b-s2uuok2fpe], .modal__expand .modal__body .modal__body-content .modal__body__main .modal__body__main-input textarea[b-s2uuok2fpe] {
    width: 600px;
    transition: 1s ease-in-out;
}

.modal__content[b-s2uuok2fpe] {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__icons[b-s2uuok2fpe] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.7rem;
    color: var(--clr-nav-icons);
    font-size: 1.6rem;
    cursor: pointer;
}

.modal__icons-left[b-s2uuok2fpe] {
    display: flex;
    gap: .9rem;
}

.modal__header[b-s2uuok2fpe] {
    display: flex;
    margin-top: .1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.modal__header-content[b-s2uuok2fpe] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal__header-image img[b-s2uuok2fpe] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--clr-nav-icons);
    user-select: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    object-fit: contain;
}

.modal__header-content input[b-s2uuok2fpe] {
    border: none;
    background: none;
    width: 200px;
    outline: none;
    border-bottom: 1px solid var(--clr-main-modal-purpple);
    color: var(--clr-nav-icons);
    font-size: 1rem;
    font-family: var(--dashboard);
}

.modal__header-content input[b-s2uuok2fpe]::placeholder {
    color: var(--clr-main-modal-purpple);
    font-size: .9rem;
}


.modal__body[b-s2uuok2fpe] {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.modal__body-content[b-s2uuok2fpe] {
    display: flex;
    height: 100%;
    align-items: center;
}

.modal__body__main[b-s2uuok2fpe] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    font-family: var(--dashboard);
}

.modal__body__main-input input[b-s2uuok2fpe] {
    width: 350px;
    height: 35px;
    border-radius: 30px;
    padding: 0 10px;
    outline: none;
    border: none;
    background: var(--clr-main-cards-bottom);
    color: var(--clr-nav-icons);
    transition: 1s ease-in-out;
}

.modal__body__main-input input[b-s2uuok2fpe]::placeholder, .modal__body__main-input textarea[b-s2uuok2fpe]::placeholder {
    color: var(--clr-main-modal-purpple);
    font-size: .9rem;
}

.modal__body__main-input textarea[b-s2uuok2fpe] {
    margin-top: .7rem;
    width: 350px;
    height: 123px;
    padding: 15px 15px;
    border-radius: 30px;
    resize: none;
    color: var(--clr-nav-icons);
    background: var(--clr-main-cards-bottom);
    border: none;
    outline: none;
    transition: 1s ease-in-out;
}

.modal__bottom[b-s2uuok2fpe] {
    margin-bottom: 4rem;
    display: flex;
    gap: 1rem;
}

.modal__bottom button[b-s2uuok2fpe] {
    width: 150px;
    height: 45px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: var(--dashboard-content);
    color: var(--clr-nav-icons);
    font-size: 1.1rem;
}

.modal__bottom button:nth-child(1)[b-s2uuok2fpe] {
    background: var(--clr-main-modal-button);
}

.modal__bottom button:nth-child(2)[b-s2uuok2fpe] {
    background: var(--clr-home-line);
}

@media (max-width: 1591px) {
    .modal__main-actived[b-s2uuok2fpe] {
        position: fixed;
        display: flex;
        justify-content: center;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 999;
        border-radius: 50px 0px 0px 50px;
        background: center / cover no-repeat url(./modal.svg), var(--clr-main-modal);
        transition: 1s ease-in-out;
        overflow-y: scroll;
    }

    .modal__icons-left i:nth-child(2)[b-s2uuok2fpe], .modal__icons-right[b-s2uuok2fpe] {
        display: none;
    }

    .modal__content[b-s2uuok2fpe] {
        gap: 2rem;
    }

    .modal__body[b-s2uuok2fpe] {
        gap: 1.3rem;
    }
}