<section class="services">
	<div class="services-content">
		<div class="services-title">
			<div class="title-se">
				<div class="title-se-content">
					<div class="titulo-title">
						<div class="titulo-service">
							<h2>Nossos Serviços</h2>
						</div>
						<div class="subtitulo-service">
							<div class="services-line"></div>
							<p class="subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, accusantium eos. Quisquam aspernatur quis, quaerat inventore, cumque doloremque provident molestias optio enim ipsa deleniti autem at cum ex.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="side-services">
				<div class="services-line"></div>
				<p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem iure omnis ut obcaecati dolores labore!</p>
			</div>
		</div>
		<div class="rectangles-services" id="intro">
			<div class="service">
				<div class="service-content">
					<div class="rectangle-service-icon">
						<i class="fa-solid fa-chart-simple"></i>
					</div>
					<div class="text-service">
						<div>
							<h3>Análise de Dados</h3>
							<p class="subtitle">Oferecemos análise de dados avançada, convertendo informações complexas em insights estratégicos.</p>
						</div>
						<a href="#" class="btn-services"><i class="fa-solid fa-arrow-right"></i>Ver Pesquisas de Estudo</a>
					</div>
				</div>
			</div>
			<div class="service">
				<div class="service-content">
					<div class="rectangle-service-icon">
						<i class="fa-solid fa-gear"></i>
					</div>
					<div class="text-service">
						<div>
							<h3>Personalização</h3>
							<p class="subtitle">Nosso serviço de destaque personalizado oferece soluções únicas para atender suas necessidades específicas.</p>
						</div>
						<a href="#" class="btn-services"><i class="fa-solid fa-arrow-right"></i>Ver Pesquisas de Estudo</a>
					</div>
				</div>
			</div>
			<div class="service">
				<div class="service-content">
					<div class="rectangle-service-icon">
						<i class="fa-solid fa-phone"></i>
					</div>
					<div class="text-service">
						<div>
							<h3>Suporte 24/7</h3>
							<p class="subtitle">Oferecemos suporte ininterrupto para resolver questões técnicas e garantir a funcionalidade de suas soluções a qualquer momento.</p>
						</div>
						<a href="#" class="btn-services"><i class="fa-solid fa-arrow-right"></i>Ver Pesquisas de Estudo</a>
					</div>
				</div>
			</div>
			<div class="service">
				<div class="service-content">
					<div class="rectangle-service-icon">
						<i class="fa-solid fa-lightbulb"></i>
					</div>
					<div class="text-service">
						<div>
							<h3>Automação Inteligente</h3>
							<p class="subtitle">Oferecemos soluções de automação inteligente para simplificar processos e aumentar a eficiência operacional.</p>
						</div>
						<a href="#" class="btn-services"><i class="fa-solid fa-arrow-right"></i>Ver Pesquisas de Estudo</a>
					</div>
				</div>
			</div>
			<div class="service">
				<div class="service-content">
					<div class="rectangle-service-icon">
						<i class="fa-solid fa-user-group"></i>
					</div>
					<div class="text-service">
						<div>
							<h3>Consultoria Estratégica</h3>
							<p class="subtitle">Nossa consultoria estratégica fornece orientação especializada para ajudar a definir e alcançar objetivos corporativos.</p>
						</div>
						<a href="#" class="btn-services"><i class="fa-solid fa-arrow-right"></i>Ver Pesquisas de Estudo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>