<section class="hero">
	<div class="hero-content">
		<div class="text-area">
			<h1 class="title">Processos Organizados para sua Empresa</h1>
			<p class="subtitle2">Alcance Eficiência e Produtividade por Meio de Processos Organizados para sua Empresa</p>
			<div class="btns-hero">
				<a href="#" class="btn-decolar">Decole sua Empresa</a>
				<a href="#" class="btn-explorar">
					<i class="fa-solid fa-arrow-right"></i>
					<p>Explorar</p>
				</a>
			</div>
		</div>
		<div class="image-area">
			<img src="./hero-img.png">
		</div>
	</div>
</section>