@using FinUnsize.Pages.LPA.Components.Hero
@using FinUnsize.Pages.LPA.Components.Advantages
@using FinUnsize.Pages.LPA.Components.Forms
@using FinUnsize.Pages.LPA.Components.Solution
@using FinUnsize.Pages.LPA.Components.About
@using FinUnsize.Pages.LPA.Components.Howitworks
@using FinUnsize.Pages.LPA.Components.Service
@using FinUnsize.Pages.LPA.Components.Affirmation
@using FinUnsize.Pages.LPA.Components.Price

@page "/"
@layout Lpa

<PageTitle>Home</PageTitle>

<div class="app">
    <Hero/>
    <Advantages/>
    <Forms/>
    <Solution/>
    <About/>
    <Howitworks/>
    <Service/>
    <Affirmation/>
    <Price/>
</div>