<section class="howitworks">
	<div class="content">
		<div class="text-area">
			<div class="text-area-content">
				<div class="title-howitworks">
					<h2>Como funciona?</h2>
				</div>
				<div class="selections">
					<div class="line"></div>
					<div class="selected">
						<div class="selection">
							<div>
								<p>01</p>
							</div>
							<div class="text-selection">
								<i class="fa-solid fa-cart-shopping"></i>
								<h3>Solicitação do Produto</h3>
								<p>O cliente escolhe o sistema de gerenciamento com módulos e especificações para atender suas necessidades.</p>
							</div>
						</div>
						<div class="selection">
							<div>
								<p>02</p>
							</div>
							<div class="text-selection">
								<i class="fa-solid fa-screwdriver-wrench"></i>
								<h3>Customização e Análise</h3>
								<p>Nossa equipe personaliza o sistema com base nas necessidades do cliente.</p>
							</div>
						</div>
						<div class="selection">
							<div>
								<p>03</p>
							</div>
							<div class="text-selection">
								<i class="fa-solid fa-gear"></i>
								<h3>Desenvolvimento e Implementação</h3>
								<p> Desenvolvemos e implementamos o sistema, realizando testes e ajustes necessários.</p>
							</div>
						</div>
						<div class="selection">
							<div>
								<p>04</p>
							</div>
							<div class="text-selection">
								<i class="fa-regular fa-circle-check"></i>
								<h3>Testes e Ajustes Finais</h3>
								<p>Realizamos testes para garantir a eficiência do sistema, fazendo ajustes finais, se necessário.</p>
							</div>
						</div>
						<div class="selection">
							<div>
								<p>05</p>
							</div>
							<div class="text-selection">
								<i class="fa-solid fa-trophy"></i>
								<h3>Entrega e Suporte</h3>
								<p>Após aprovação, entregamos o sistema e fornecemos suporte contínuo ao cliente.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="image-area">
			<img src="./howitworks.png">
		</div>
	</div>
</section>