.navtop[b-yvdpn0i2i2] {
    width: 100%;
    height: 80px;
    background: var(--clr-main-components);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.25));
}

.navtop .navtop__content[b-yvdpn0i2i2] {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navtop__content .navtop__left[b-yvdpn0i2i2] {
    margin-left: 10px;
    cursor: pointer;
}

.navtop__center__content-input[b-yvdpn0i2i2] {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.navtop__content .navtop__center__content-input input[b-yvdpn0i2i2] {
    width: 800px;
    height: 45px;
    background: var(--clr-main-input-back);
    border: 2px solid var(--clr-main-border);
    outline: none;
    color: var(--clr-nav-icons);
    padding-left: 1rem;
    font-family: var(--dashboard);
    font-size: 1.1rem;
}

.navtop__center__content-icon[b-yvdpn0i2i2] {
    position: absolute;
    right: 1rem;
    color: var(--clr-nav-icons);
    font-size: 1.3rem;
    cursor: pointer;
}

.navtop__right[b-yvdpn0i2i2] {
    display: flex;
    position: relative;
    align-items: center;
    gap: .5rem;
    margin-right: 10px;
}

.navtop__center-mobile[b-yvdpn0i2i2] {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    margin-right: 1rem;
    font-size: 1.3rem;
    color: var(--clr-nav-icons);
}

.navtop__center-mobile-actived[b-yvdpn0i2i2] {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.navtop__center-mobile-icon[b-yvdpn0i2i2] {
    display: none;
}

.navtop__right .navtop__right-icon[b-yvdpn0i2i2] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--clr-main-nav--back);
    border-radius: 10px;
    cursor: pointer;
}

.navtop__right .navtop__right-icon i[b-yvdpn0i2i2] {
    color: var(--clr-main-nav--back-icons);
}

.navtop__center-mobile-icon i[b-yvdpn0i2i2], .navtop__center-mobile-input i[b-yvdpn0i2i2] {
    margin-right: 1rem;
    color: var(--clr-nav-icons);
    font-size: 1.3rem;
}

.navtop__right-image img[b-yvdpn0i2i2] {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 1313px) {
    .navtop__center__content-input[b-yvdpn0i2i2] {
        display: none;
    }

    .navtop__center-mobile-input[b-yvdpn0i2i2] {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .navtop__center-mobile-icon[b-yvdpn0i2i2] {
        display: flex;
    }
    .navtop__center-mobile-input i[b-yvdpn0i2i2] {
        position: absolute;
        right: 1rem;
    }

    .navtop__center-mobile-input input[b-yvdpn0i2i2] {
        width: 100%;
        height: 100%;
        background: var(--clr-main-components);
        border: none;
        outline: none;
        color: var(--clr-nav-icons);
        padding-left: 1rem;
        font-family: var(--dashboard);
        font-size: 1.1rem;
    }
}

@media (max-width: 413px) {
    .navtop__right[b-yvdpn0i2i2] {
        display: none;
    }

    .navtop__left[b-yvdpn0i2i2] {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}