<section class="notifications">
    <div class="notifications__header">
        <div class="notifications__header-left">
            <i class="fa-regular fa-bell"></i>
            <h2>NOTIFICAÇÕES</h2>
        </div>
        <div class="notifications__header-right">
            <i class="fa-solid fa-bars-staggered"></i>
        </div>
    </div>
    <div class="notifications__content">
        <div class="notifications__flex-cards">
            <div class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-header">
                        <i class="fa-solid fa-circle-info"></i>
                        <h3>AVISO</h3>
                    </div>
                    <div class="notifications__card-icon">
                        <i class="fa-solid fa-circle-question"></i>
                    </div>
                    <div class="notifications__card-paragraph">
                        <p>CAIXA DOIS FECHADO</p>
                    </div>
                </div>
                <div class="notifications__card-bottom">
                    <p>Fechado às 18:30</p>
                    <a>VER MAIS</a>
                </div>
            </div>
            <div class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-header">
                        <i class="fa-solid fa-circle-info"></i>
                        <h3>AVISO</h3>
                    </div>
                    <div class="notifications__card-icon">
                        <i class="fa-solid fa-circle-question"></i>
                    </div>
                    <div class="notifications__card-paragraph">
                        <p>PROJEÇÕES PAUSADAS</p>
                    </div>
                </div>
                <div class="notifications__card-bottom">
                    <p>Dados Insuficientes</p>
                    <a>VER MAIS</a>
                </div>
            </div>
            <div class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-header">
                        <i class="fa-solid fa-circle-info"></i>
                        <h3>AVISO</h3>
                    </div>
                    <div class="notifications__card-icon">
                        <i class="fa-solid fa-circle-question"></i>
                    </div>
                    <div class="notifications__card-paragraph">
                        <p>CADASTRE MAIS PRODUTOS</p>
                    </div>
                </div>
                <div class="notifications__card-bottom">
                    <p>Há poucos produtos cadastrados</p>
                    <a>VER MAIS</a>
                </div>
            </div>
            <div class="notifications__card">
                <div class="notifications__card-content">
                    <div class="notifications__card-header">
                        <i class="fa-solid fa-circle-info"></i>
                        <h3>AVISO</h3>
                    </div>
                    <div class="notifications__card-icon">
                        <i class="fa-solid fa-circle-question"></i>
                    </div>
                    <div class="notifications__card-paragraph">
                        <p>CADASTRE DESPESAS</p>
                    </div>
                </div>
                <div class="notifications__card-bottom">
                    <p>Cadastre mais despesas</p>
                    <a>VER MAIS</a>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}
