@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400&family=Fjalla+One&display=swap');

:root {
    --regular: 'Poppins';
    --bold: 'Poppins';
    --title: 3rem;
    --second-title: 1.5rem;
    --text: 1rem;
    --dashboard: 'Fjalla One', sans-serif;
    --dashboard-content: 'Antonio', sans-serif;
}
