<section class="affirmation">
	<div class="content">
		<div class="upper-content">
			<div id="videoContainer" class="video-container">
				<div class="play-button" onclick="playVideo()">
					<i class="bi bi-play-fill"></i>
				</div>
				<img id="thumbnail" class="thumbnail" src="./logo.svg" alt="Miniatura do Vídeo">
			</div>
			<div class="text-area">
				<div class="title-video">
					<h2>Trazendo o futuro com <a>verdadeiros profissionais</a></h2>
				</div>
				<div class="testimonial">
					<div class="up-testimonial">
						<div class="circle-test"></div>
						<div class="name-test">
							<h3>Hilary Clinton</h3>
							<p>Designer on Google</p>
						</div>
					</div>
					<div class="down-testimonial">
						<div class="ret-test">
							<p>“</p>
						</div>
						<div class="speak-test">
							<p>Trabalhar com a equipe da FinUnsize foi uma experiência incrível. Sua abordagem inovadora e focada no cliente é inspiradora. Eles não apenas fornecem soluções financeiras, mas também se preocupam em entender as necessidades dos clientes, adaptando-se às metas e objetivos. </p>
						</div>
					</div>
				</div>
				<div class="subtitle-video">
					<p>Inovação e Compromisso: A Experiência Inspiradora com a FinUnsize!</p>
					<a class="btn-affirmation">Ver Preços</a>
				</div>
			</div>
		</div>
		<div class="divider-line"></div>
		<div class="down-content">
			<div class="our-work-examples">
				<div class="example">
					<svg xmlns="http://www.w3.org/2000/svg" width="87" height="87" viewBox="0 0 87 87" fill="none">
						<path d="M42.7994 0.839759C51.2474 0.771803 59.5251 3.21544 66.5824 7.86064C73.6397 12.5058 79.1584 19.1432 82.4384 26.9306C85.7184 34.7181 86.6118 43.3045 85.0052 51.6007C83.3987 59.8968 79.3646 67.5286 73.4148 73.5278C67.4651 79.527 59.8678 83.6232 51.5869 85.2967C43.306 86.9701 34.7147 86.1455 26.9031 82.9273C19.0915 79.7091 12.4117 74.2425 7.71115 67.221C3.0106 60.1995 0.501192 51.9396 0.501314 43.4893C0.456414 32.2232 4.88751 21.4007 12.8199 13.4025C20.7522 5.4042 31.5361 0.885284 42.7994 0.839759Z" stroke="#20282D" stroke-width="0.999952" />
						<path d="M42.3495 0.839844C65.7374 0.839844 83.8737 20.9956 83.8737 36.7054C83.8737 52.4153 65.7384 63.5051 42.3495 63.5051C18.9605 63.5051 2.67969 50.3543 2.67969 34.6445C2.67969 18.9346 18.9615 0.839844 42.3495 0.839844Z" stroke="#20282D" stroke-width="0.999952" />
						<path d="M84.7886 38.5098C86.1532 56.8836 70.6522 76.5893 48.7329 76.5893C26.8135 76.5893 13.7939 62.1705 14.5267 43.1087C15.2595 24.047 35.8102 12.8091 49.7376 12.8091C63.665 12.8091 83.4279 20.136 84.7886 38.5098Z" stroke="#20282D" stroke-width="0.999952" />
						<path d="M84.8251 42.6535C85.2333 66.0437 65.4021 84.5325 49.6985 84.8066C33.995 85.0808 22.593 67.1373 22.1848 43.7462C21.7766 20.355 34.6381 3.84413 50.3417 3.56995C66.0452 3.29578 84.417 19.2623 84.8251 42.6535Z" stroke="#20282D" stroke-width="0.999952" />
					</svg>
					<div class="text-ex">
						<h3>Trabalho Organizado</h3>
						<p>No universo dinâmico dos negócios, o "Trabalho Organizado" se destaca como a bússola que orienta para a alta performance.</p>
					</div>
				</div>
				<div class="example">
					<svg xmlns="http://www.w3.org/2000/svg" width="108" height="102" viewBox="0 0 108 102" fill="none">
						<path d="M1.48535 72.478H30.4828V101.475H1.48535V72.478Z" stroke="#20282D" stroke-width="0.999911" />
						<path d="M17.4219 72.6237V63.8535H46.4193V92.8509H30.7597" stroke="#20282D" stroke-width="0.999911" />
						<path d="M32.9209 63.9788V55.8545H61.9183V84.8519H46.2587" stroke="#20282D" stroke-width="0.999911" />
						<path d="M48.4199 55.9793V47.855H77.4174V76.8524H61.7577" stroke="#20282D" stroke-width="0.999911" />
						<path d="M63.4189 47.7308V39.9033H92.4164V68.9008H77.2867" stroke="#20282D" stroke-width="0.999911" />
						<path d="M78.418 39.8211V32.6899H107.415V61.6874H92.2858" stroke="#20282D" stroke-width="0.999911" />
						<path d="M68.4189 39.9663V23.6577H97.4164V32.5389" stroke="#20282D" stroke-width="0.999911" />
						<path d="M63.6328 44.6152H52.4199V15.6178H81.4174V23.817" stroke="#20282D" stroke-width="0.999911" />
						<path d="M52.2047 37.2266H37.4209V8.22913H66.4183V15.7105" stroke="#20282D" stroke-width="0.999911" />
						<path d="M37.4914 29.8374H23.4219V0.839969H52.4193V7.97032" stroke="#20282D" stroke-width="0.999911" />
					</svg>
					<div class="text-ex">
						<h3>Tarefas Separadas</h3>
						<p>Na jornada rumo à produtividade e eficiência, a prática de "Tarefas Separadas" emerge como uma estratégia poderosa.</p>
					</div>
				</div>
				<div class="example-check">
					<div class="check">
						<i class="fa-solid fa-check"></i>
						<p>Eficiência no Trabalho</p>
					</div>
					<div class="check">
						<i class="fa-solid fa-check"></i>
						<p>Comprometimento com o seus dados</p>
					</div>
					<div class="check">
						<i class="fa-solid fa-check"></i>
						<p>Consistencia e reformulação</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>