<section class="sobre" id="about-us">
	<div class="content">
		<div class="image-area">
			<img src="./section-sobre-nos.png">
		</div>
		<div class="text-area">
			<div class="content">
				<img src="./section-sobre-nos2.png">
				<div class="text-content">
					<div class="title-an">
						<div>
							<h3>Conquiste seus sonhos rapidamente!</h3>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip eam. </p>
						</div>
						<div class="analysis">
							<div class="static">
								<div class="text-static">
									<p>Analysis</p>
									<p>52%</p>
								</div>
								<div class="line line1"></div>
							</div>
							<div class="static">
								<div class="text-static">
									<p>Analysis</p>
									<p>22%</p>
								</div>
								<div class="line line2"></div>
							</div>
							<div class="static">
								<div class="text-static">
									<p>Analysis</p>
									<p>75%</p>
								</div>
								<div class="line line3"></div>
							</div>
						</div>
					</div>
					<div class="title-an">
						<div>
							<h3>Conquiste seus sonhos rapidamente!</h3>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim. </p>
						</div>
						<div class="checks">
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Web & Mobile Responsive</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Web & Mobile Responsive</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Web & Mobile Responsive</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Web & Mobile Responsive</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Web & Mobile Responsive</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Web & Mobile Responsive</p>
							</div>
						</div>
					</div>
					<div class="title-an">
						<div>
							<h3>Conquiste seus sonhos rapidamente!</h3>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim. </p>
						</div>
						<img src="./section-sobre-nos3.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>