<section class="sobre" id="about-us">
	<div class="content">
		<div class="image-area">
			<img src="./section-sobre-nos.png">
		</div>
		<div class="text-area">
			<div class="content">
				<img src="./section-sobre-nos2.png">
				<div class="text-content">
					<div class="title-an">
						<div>
							<h3>Conquiste seus sonhos rapidamente!</h3>
							<p>Você sonha em ver o seu negócio prosperar, alcançando novos patamares de sucesso? A FinUnsize está aqui para transformar seus sonhos em realidade! Somos uma empresa especializada em proporcionar um gerenciamento 
								eficiente para estabelecimentos, independentemente do seu ramo de atuação. </p>
						</div>
						<div class="analysis">
							<div class="static">
								<div class="text-static">
									<p>Crescimento no primeiro mês</p>
									<p>52%</p>
								</div>
								<div class="line line1"></div>
							</div>
							<div class="static">
								<div class="text-static">
									<p>Crescimento na primeira semana</p>
									<p>22%</p>
								</div>
								<div class="line line2"></div>
							</div>
							<div class="static">
								<div class="text-static">
									<p>Crescmineto em um ano</p>
									<p>75%</p>
								</div>
								<div class="line line3"></div>
							</div>
						</div>
					</div>
					<div class="title-an">
						<div>
							<h3>Organize-se Melhor!</h3>
							<p> Com a FinUnsize, você terá ao seu lado uma equipe dedicada e experiente, pronta para oferecer soluções personalizadas que impulsionarão o crescimento do seu negócio. Nossos serviços abrangem desde o controle financeiro até a otimização operacional,
								permitindo que você se concentre no que realmente importa: fazer o seu negócio prosperar. </p>
						</div>
						<div class="checks">
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Eficiência Operacional</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Controle Financeiro</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Inovação Tecnológica</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Suporte Personalizado</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Marketing Estratégicoe</p>
							</div>
							<div class="check">
								<i class="bi bi-check"></i>
								<p>Treinamento Especializado</p>
							</div>
						</div>
					</div>
					<div class="title-an">
						<div>
							<h3>Entre em Contato Conosco!</h3>
							<p> Com a FinUnsize ao seu lado, você estará dando passos firmes em direção ao sucesso. Venha para a FinUnsize e conquiste seus objetivos rapidamente! </p>
						</div>
						<img src="./section-sobre-nos3.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>