@page "/dashboard/cashier"

<PageTitle>Caixa</PageTitle>

<section class="header__sale">
    <div class="header__content">
        <i class="fa-solid fa-lock"></i>
        <h2>CAIXAS CADASTRADOS</h2>
    </div>
</section>

<div class="treading">

    <div class="cashier">
        <i class="fa-solid fa-cash-register"></i>
        <h3>CAIXAS:</h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <i class="fa-solid fa-check-to-slot"></i>
                    </div>
                    <div class="down-content">
                        <h4>CAIXA 1</h4>
                        <p>SITUAÇÃO: ABERTO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <i class="fa-solid fa-store-slash"></i>
                    </div>
                    <div class="down-content">
                        <h4>CAIXA 2</h4>
                        <p>SITUAÇÃO: FECHADO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <i class="fa-solid fa-check-to-slot"></i>
                    </div>
                    <div class="down-content">
                        <h4>CAIXA 3</h4>
                        <p>SITUAÇÃO: ABERTO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <i class="fa-solid fa-check-to-slot"></i>
                    </div>
                    <div class="down-content">
                        <h4>CAIXA 4</h4>
                        <p>SITUAÇÃO: ABERTO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
